<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login page</title>
</head>
<body>
	<h1>Welcome to the estimate application</h1>
	<form action="Login" method="POST">
		Username: <input type="text" name="username" required><br>
		Password: <input type="password" name="password" required><br>
		<input type="submit" value="login">
		<p th:text="${errorMsg}"></p>
	</form>
</body>
</html>