<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page Client</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/style.css" th:href="@{/css/style.css}" />
</head>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Estimate Request Home Page</h1>

	<table>
		<thead>
			<tr>
				<th>Estimate #</th>
				<th>Product</th>
				<th>Options</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${estimates}">
				<td th:text="${e.id}">1</td>
				<td th:text="${e.product.name}">Prodotto</td>
				<td><span th:each="o : ${e.options}"><span
						th:text="${o.name} + ' (' + ${o.type} + ') '">Opzioni</span></span></td>
				<td th:text="${e.price}">Prezzo</td>
			</tr>
		</tbody>
	</table>

	<div>
		<form action="#" th:action="@{/SendEstimate}" method="POST">
			<fieldset>
				<legend>Estimate Request</legend>
				<p th:unless="${productSelected}">
					Product: <select name="selectedProduct">
						<option th:each="p : ${products}" value="product1"
							th:value="${p.code}" th:text="${p.name}">Product 1</option>
					</select> <input type="submit" formaction="#"
						th:formaction="@{/SelectProduct}" name="SendProduct"
						value="Select Product">
				</p>
				<div th:if="${productSelected}">
					<p th:text="'Product: ' + ${product.name}">Product: name</p>
					<img alt="image" src="../img/computer.jpg" th:alt="${product.name}"
						th:src="@{${'img/' + product.name + '.jpg'}}"> <input
						id="prodId" name="prodId" type="hidden" th:value="${product.code}">
					<p>Options:</p>
					<p th:each="o : ${options}">
						<input type="checkbox" name="selOpt" value="option1"
							th:value="${o.code}"><label
							th:text="${o.name} + ' ' + ${o.type}">Option 1</label>
					</p>
					<p>
						<input type="submit" name="Sendestimate" value="Send estimate">
					</p>
					<a href="#" th:href="@{/ClientHome}">Cancel selection</a>
				</div>
			</fieldset>
		</form>
		<p th:text="${errorOptMsg}"></p>
	</div>
</body>
</html>