<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Page Client</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/style.css" th:href="@{/css/style.css}" />
</head>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Estimate Management Home Page</h1>

	<h2>Unassigned estimates</h2>
	<table>
		<thead>
			<tr>
				<th>Estimate #</th>
				<th>Product</th>
				<th>Options</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${unassignedEstimates}">
				<td th:text="${e.id}">1</td>
				<td th:text="${e.product.name}">Prodotto</td>
				<td><span th:each="o : ${e.options}"><span
						th:text="${o.name} + ' (' + ${o.type} + ') '">Opzioni</span></span></td>
				<td><a href="#" th:href="@{/EstimateDetails(estId=${e.id})}">Set
						price</a></td>
			</tr>
		</tbody>
	</table>

	<h2>My estimates</h2>
	<table>
		<thead>
			<tr>
				<th>Estimate #</th>
				<th>Product</th>
				<th>Options</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${employeeEstimates}">
				<td th:text="${e.id}">1</td>
				<td th:text="${e.product.name}">Prodotto</td>
				<td><span th:each="o : ${e.options}"><span
						th:text="${o.name} + ' (' + ${o.type} + ') '">Opzioni</span></span></td>
				<td th:text="${e.price}">Prezzo</td>
			</tr>
		</tbody>
	</table>
</body>
</html>