<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Price Estimate</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Price Estimate Form</h1>
	<p>
		Estimate #: <span th:text="${estimate.id}">0</span>
	</p>
	<p>
		Client: <span th:text="${estimate.client.surname}">surname</span> <span
			th:text="${estimate.client.name}">name</span> (<span
			th:text="${estimate.client.username}">username</span>)
	</p>
	<p>
		Product: <span th:text="${estimate.product.name}">name</span> (<span
			th:text="${estimate.product.code}">code</span>)
	</p>
	<p>
		Options: <span th:each="o : ${estimate.options}"><span
			th:text="${o.name} + ' (' + ${o.type} + ') '">options</span></span>
	</p>
	<img alt="image" src="../img/computer.jpg"
		th:alt="${estimate.product.name}"
		th:src="@{${'img/' + estimate.product.name + '.jpg'}}">
	<form action="SetPrice" method="post">
		<fieldset>
			<input id="estId" name="estId" type="hidden"
				th:value="${estimate.id}">
			<legend>Set the price for the estimate.</legend>
			<label>Price: </label> <input type="number" name="price" min=0.01
				max=9999.99 step=0.01 required="required"> <input
				type="submit" name="setPrice" value="Set Price">
		</fieldset>
	</form>
</body>
</html>